# General
.DS_Store
*.swp
.vscode/
.idea/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.backup
*.bak

# Local environment files
*.tfvars
*.tfvars.json
